{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}
    <div class="container my-5 text-center">
        <h1>Default index page created for "DevLab - Automatisation de contenu"</h1>
    </div>
{% endblock %}
