<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="img/template/favicon.ico" />
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        {% block facebookJS %}
            <script>
                window.fbAsyncInit = function() {
                    FB.init({
                        appId            : '1397810230354874',
                        autoLogAppEvents : true,
                        xfbml            : true,
                        version          : 'v3.2'
                    });
                };

                (function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = 'https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v3.2&appId=1397810230354874&autoLogAppEvents=1';
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
            </script>
        {% endblock %}
        {% block navbar %}
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="/">Automatisation de contenu</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        {% if is_granted('ROLE_USER') %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMatches" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Matchs
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMatches">
                                    <a class="nav-link" href="/dashboard">Tableau de bord</a>
                                    <a class="nav-link" href="/history">Historique</a>
                                    <a class="nav-link" href="/live">Direct</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownVisual" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Visuels
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownVisual">
                                    <a class="nav-link" href="/visual">Création de visuel</a>
                                    <a class="nav-link" href="/gallery">Votre galerie photo</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/social">Réseaux sociaux</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/logout">Se déconnecter</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="/inscription">Inscription</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/connexion">Connexion</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        {% endblock %}
        {% block body %}{% endblock %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://files.codepedia.info/files/uploads/iScripts/html2canvas.js"></script>
        <script src="script.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
