{% extends 'base.html.twig' %}

{% block title %}Création de visuel{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>Créer votre visuel :</h1>

            <!-- Image preview -->
            <div class="col-12 s8">
                <div class="imageContainer" id="imageContainer-preview">
                    <p></p>
                    <img src="{{ photo.path }}"/>
                </div>
            </div>

            <div class="col-12 text-center">
                <p class="range-field">
                    <h1>Votre texte</h1>
                    <br>
                    <input type="text" name="text-visual" id="text-visual" value="" class="form-control custom-input">
                </p>
            </div>

            <div class="col-12">
                <div id="textPart">
                    <div class="row">
                        <div class="col-md-3">
                            <p class="range-field">
                                <button type="button" name="button-big" id="bigger" class="btn-custom">Plus grand</button>
                            </p>
                        </div>

                        <div class="col-md-3">
                            <p class="range-field">
                                <button type="button" name="button-small" id="smaller" class="btn-custom">Plus petit</button>
                            </p>
                        </div>

                        <div class="col-md-3">
                            <p class="range-field">
                                <label for="heightText">Verticale</label>
                                <input type="range" id="heightText" name="heightText" min="0" max="100" value=0 id="customRange1" class="custom-range"/>
                            </p>
                        </div>

                        <div class="col-md-3">
                            <p class="range-field">
                                <label for="widthText">Horizontale</label>
                                <input type="range" id="widthText" name="widthText" min="0" max="100" value=0 class="custom-range">
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <form id="imageEditor">
                    <div id="imgPart">

                        <div class="row">
                            <div class="col-md-4">
                                <p class="range-field">
                                    <label for="gs">Niveaux de gris</label>
                                    <input class="editImage" type="range" id="gs" name="gs" min="0" max="100" value="0" class="custom-range"/>
                                </p>
                            </div>
                            <div class="col-md-4">
                                <p class="range-field">
                                    <label for="blur">Blur</label>
                                    <input class="editImage" type="range" id="blur" name="blur" min="0" max="10" value="0" class="custom-range"/>
                                </p>
                            </div>
                            <div class="col-md-4">
                                <p class="range-field">
                                    <label for="br">Exposition</label>
                                    <input class="editImage" id="br" name="br" type="range" min=0 max=200 value=100 class="custom-range">
                                </p>
                            </div>
                            <div class="col-md-4">
                                <p class="range-field">
                                    <label for="ct">Contraste</label>
                                    <input class="editImage" id="ct" name="ct" type="range" min=0 max=200 value=100 class="custom-range">
                                </p>
                            </div>
                            <div class="col-md-4">
                                <p class="range-field">
                                    <label for="huer">Rotation de teinte</label>
                                    <input class="editImage" id="huer" name="huer" type="range" min=0 max=360 value=0 class="custom-range">
                                </p>
                            </div>
                            <div class="col-md-4">
                                <p class="range-field">
                                    <label for="opacity">Opacité</label>
                                    <input class="editImage" id="opacity" name="opacity" type="range" min=0 max=100 value=100 class="custom-range">
                                </p>
                            </div>
                            <div class="col-md-4">
                                <p class="range-field">
                                    <label for="invert">Inversion des couleurs</label>
                                    <input class="editImage" id="invert" name="invert" type="range" min=0 max=100 value=0 class="custom-range">
                                </p>
                            </div>
                            <div class="col-md-4">
                                <p class="range-field">
                                    <label for="saturate">Saturation</label>
                                    <input class="editImage" id="saturate" name="saturate" type="range" min=0 max=500 value=100 class="custom-range">
                                </p>
                            </div>
                            <div class="col-md-4">
                                <p class="range-field">
                                    <label for="sepia">Sépia</label>
                                    <input class="editImage" id="sepia" name="sepia" type="range" min=0 max=100 value=0 class="custom-range">
                                </p>
                            </div>
                            <div class="col-md-12">
                                <div class="text-center">
                                    <button class="btn-custom"  type="reset" id="reset">Reset</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <!-- Real image saved -->
                <div style="position:absolute;margin-left:-10000px;">
                    <div class="imageContainer" id="imageContainer-real">
                        <p></p>
                        <img src="{{ photo.path }}"/>
                    </div>
                </div>

                </div>
                <a href="" id="button-publish" class="btn-custom zero-auto">Enregistrer ce visuel</a>

    </div>
        </div>
    </div>
{% endblock %}