{% extends 'base.html.twig' %}

{% block title %}Votre galerie photo{% endblock %}

{% block body %}
    <h1 class="my-5">Ma galerie photo</h1>
    <div class="row my-5">
        {% if photos %}
            {% for photo in photos %}
                <div class="col-md-4 col-sm-10 offset-sm-1 offset-md-0">
                    <img src="{{ photo.path }}" class="photoGallery" alt="Photo upload par vous le {{ photo.createdAt|date("d/m/Y") }}" />
                </div>
            {% endfor %}
        {% else %}
            <p>Il n'y a pas encore de photos.</p>
        {% endif %}

        {% if visuals %}
            {% for visual in visuals %}
                <div class="col-md-4 col-sm-10 offset-sm-1 offset-md-0">
                    <img src="{{ visual.path }}" class="photoGallery" alt="Visuel créé par vous le {{ visual.createdAt|date("d/m/Y") }}" />
                </div>
            {% endfor %}
        {% else %}
            <p>Il n'y a pas encore de visuel.</p>
        {% endif %}
    </div>
{% endblock %}
